// TODO

xhook.before(function(req) {
  if(req.url.match(/$url_to_match/)){
	var response = new Response();
	response.body = null;
    response.bodyUsed = false;
    response.headers = new Headers();
    response.ok = true;
    response.status = 200;
    response.statusText = "OK";
    response.type = "default";
    response.url = "";
    return response;
	}
});