var xhook = window.xhook,
    urlpart,
    response,
    bemoHandlers,
    bemoContext = JSON.parse('%s');

// Destroy all previously added handlers if any
xhook.destroy();
bemoHandlers = window.bemoHandlers = {};

// Initialize all passed handlers
bemoContext.handlers.forEach(function(handler) {
    bemoHandlers[handler.uid] = {
        callCount: 0,
        callRequests: []
    };

    xhook.before(function(request) {
        urlpart = new RegExp(handler.urlpart, 'gi');
        if (request.url.match(urlpart)) {
            bemoHandlers[handler.uid].callCount++;
            bemoHandlers[handler.uid].callRequests.push(request);

            response = new Response();
            response.status = handler.status;
            response.statusText = handler.statusText;
            response.headers = handler.headers;
            response.text = JSON.stringify(handler.body);

            return response;
        }
    });
});